@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vertical-rhythm() {
  margin-top: 0;
  margin-bottom: 20px;
}

@mixin link-no-underscore() {
  &, &:hover {
    text-decoration: none;
  }
}