$color-black: #000;
$color-gray: #ddd;
$color-white: #fff;

$lineHeight: 1.7;
$fontSize: 14px;
$fontSize-jumbo: 30px;
$fontSize-largest: 26px;
$fontSize-larger: 22px;
$fontSize-large: 18px;
$fontSize-small: 12px;