$color-black: #000;
$color-gray: #ddd;
$color-white: #fff;

$lineHeight-base: 1.7;
$fontSize-base: 14px;
$fontSize-jumbo: 30px;
$fontSize-largest: 26px;
$fontSize-larger: 22px;
$fontSize-large: 18px;
$fontSize-small: 12px;
$fontSans: 'Source Sans Pro', Helvetica, sans-serif;