// Color Palette
$color-black: #222;
$color-gray: #d9d9d9;
$color-grayDark: #969696;
$color-white: #fff;
$color-green: #3cc76a;
$color-link: #428bca;

// Typography
$lineHeight-small: 1.7;
$lineHeight-base: 2.0;
$fontSize-base: 14px;
$fontSize-jumbo: 30px;
$fontSize-largest: 26px;
$fontSize-larger: 22px;
$fontSize-large: 18px;
$fontSize-small: 12px;
$fontSans: 'Source Sans Pro', Helvetica, sans-serif;

// Form
$formSize-small: 30px;
$formSize-base: 40px;

// Grid
$gridGutter: 10px;
$gridSizes: (
  xs: 360px,
  sm: 480px,
  md: 768px
);

// Border-radius
$borderRadius-base: 6px;
$borderRadius-large: 25px; // For well-rounded buttons, etc.

// Spacers
$spacer-small: 15px;
$spacer-base: 25px;
$spacer-large: 50px;
