.Grid {
  @include clearfix;
  margin-left: -($gridGutter);
  margin-right: -($gridGutter);

  .Grid-cell {
    position: relative;
    float: left;
    padding-left: ($gridGutter);
    padding-right: ($gridGutter);
  }
}