* {
  box-sizing: border-box;
}

html, body {
  font-family: $fontSans;
  font-size: $fontSize-base;
  line-height: $lineHeight-base;
}

.Container {
  @include clearfix;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}